*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}

// body {
//   padding-top: $navHeight;
// }

html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  @extend .font-normal;
  color: $bodyColor;
}

section {
  @extend .row;
}

main {
  @extend .container;
  @extend .row;
}
