.is-centered {
  text-align: center !important;
}

.is-left {
  text-align: left !important;
}

.is-right {
  text-align: right !important;
}

.is-hidden {
  display: none !important;
}

.is-float-left {
  float: left !important;
}

.is-float-right {
  float: right !important;
}
