body {
  hyphens: none;
}

a {
  color: $linkColor;
  &:visited {
    color: $linkVisitedColor;
  }
  &:hover {
    color: $linkHoverColor;
  }
}

.font-primary {
  font-family: $fontPrimary;
  font-style: normal;
}

.font-light {
  @extend .font-primary;
  font-weight: 200;
}

.font-normal {
  @extend .font-primary;
  font-weight: $fontPrimaryWeight;
}

.font-semi {
  @extend .font-primary;
  font-weight: 400;
}

.font-bold {
  @extend .font-primary;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: $primaryColor;
  text-transform: uppercase;
  @extend .font-light;
  margin-top: 0;
}

@mixin fontSize($fontVar) {
  @include type-scale($fontVar, $font-base, '#{$type-scale-unit-value}', $measure);
}

ul.horizontal-list {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  li {
    display: block;
    @include break(small) {
      display: inline-block;
    }
    margin: 0 .567em;
    a {
      display: block;
      text-decoration: none;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

ul, dd, dt {
  margin: 0;
  padding: 0;
}

p+p {
  text-indent: 0;
  margin-top: 0;
}

.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.ul__separator {
  padding: 0 !important;
  margin: 0 !important;
  border-top: 1px solid $ltGrey;
  line-height: 0;
}

h3 {
  border-bottom: 1px dashed $grey;
  padding-bottom: .5em;
}

.badge {
  color: $white;
  @extend .font-bold;
  font-size: .7rem;
  background: #bbb;
  border-radius: 5px;
  padding: 2px 10px;
}

