.chart__aside {
  @extend %flex-container-column;
  user-select: none;
  h3 {
    text-align: center;
    flex-grow: 0;
    @extend .font-normal;
  }

  .scroll-wrapper {
    flex: 1;
    margin-bottom: 1.5rem;
  }

  ul {
    padding: 0 0 0 25px;
    margin: 1.5rem 0;
  }

  li {
    position: relative;
    margin-bottom: 1.5rem;
  }



}

ul.filter__tags {

  list-style-type: none;


  li {
    color: $grey;
    cursor: pointer;
    margin: 0 0 1.5rem 2rem;
    user-select: none;

    &.is-active {
      color: $primaryColor;
    }

    &:not(.is-active) span {
      background: $bodyBgColor !important;
    }

    span {
      width: 30px;
      height: 30px;
      position: absolute;
      left: -2rem;
    }

  }

}

.filter__filter {
  text-transform: uppercase;
  &.is-active:hover {
    color: $linkColor;
  }
}
