.btn-row {
  display: block;
  text-align: center;
  margin: 1.667em 0;

  &.is-left {
    text-align: center;
    @include break(medium) {
      text-align: left;
    }
  }

  .btn, a {
    @extend .delta;
    margin: 1em auto;
    display: block;
    text-align: center;
    @include break(medium) {
      display: inline-block;
      margin: 0 .5em;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: 15px 32px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  font-weight: 500;

  @include break(medium) {
    padding: 5px 32px;
  }

  &.is-large {
    @extend .delta;
    @include break(mobile-only) {
      width: 100%;
    }
  }

  &:hover {
    background: #4d4d4d;
    color: $white;
  }
}

a.btn {
  text-decoration: none;
}

// Mixin to create buttons
@mixin style-button($color, $textColor) {
  background: $color;
  color: $textColor;
}

// add state colors for each
@each $color in $colorsList {
  $i: index($colorsList, $color);
  .btn.is-#{nth($colorsName, $i)} {
    background-color: $color;
    color: $white;
    &:hover {
      background-color: darken($color, 3%);
    }
  }
}

