.c3 {
  svg {
    font-size: .8rem;
    font-family: $fontPrimary;
  }
  .c3-axis line, .c3-axis path {
    stroke: $grey;
    opacity: 0.35;
  }
  .c3-axis text {
    fill: darken($grey, 10%);
    font-size: 14px;
    @include break(wide) {
      font-size: 16px;
    }
  }
  .c3-grid line {
    stroke: $ltGrey;
  }
  .c3-lines-2013-Y-Y, .c3-lines-2012-Y-Y, .c3-lines-2011-Y-Y, .c3-lines-Growth {
    path {
      stroke-dasharray: $svgDash;
    }
  }
  .c3-axis text.c3-axis-y2-label, .c3-axis text.c3-axis-y-label {
    // fill: $grey;
  }
  .c3-legend-item {
    @include break(large) {
      display: none;
    }
  }
  .c3-tooltip th {
    background: $black;
    text-align: center;
  }
  .c3-tooltip td {
    color: $black;
  }
  .c3-tooltip {
    opacity: 1;
    min-width: 7rem;
  }
  .c3-tooltip .name {
    // text-transform: uppercase;
  }
  .c3-tooltip .value {
    @extend .font-semi;

  }
  .c3-line {
    stroke-width: 1px;
  }
  .c3-line-growth {
    stroke-dasharray: 10,7;
    stroke-width: 2px;
  }
}

