.data-row__obj {
  flex: 1;
  background: rgba(255,255,255,.3);
  text-align: center;
  border-right: 1px solid darken($ltltGrey, 3%);

  &:last-of-type {
    border-right: 0;
  }

  dd {
    font-size: 2rem;
    @include break(large) {
      font-size: 2.45rem;
    }
    @extend .font-bold;
  }

}

.data-row__obj__container {
  margin-top: .75em;
}

.data-row__obj__total {
  font-size: 2rem;
  display: inline-block;
  @include break(large) {
    font-size: 2.45rem;
  }
  @extend .font-bold;
}

.data-row__obj__details {
  display: inline-block;
  margin: 1em 0 0 .5em;
}

// .data-row__obj__today {
//   position: relative;
//   top: -1em;
//   display: inline-block;
//   color: $blue;
//   @extend .font-semi;
// }

.data-row__obj__today {
  margin-left: .75em;
  font-size: .9rem;
  display: inline-block;
  color: $blue;
  &.is-positive {
    color: $green;
  }
  &.is-negative {
    color: $pink;
  }
}

.data-row__obj__label {
  margin-bottom: 1em;
  span {
    // color: $dkGrey;
  }
}

// .data-row__obj__tiny_label {
//   font-size: .7rem;
//   text-transform: uppercase;
// }

