// this an underscore template for use with gulp-icon-font.  Only modify
// if you want to change the way the font css is generated
// https://github.com/backflip/gulp-iconfont-css/issues/9

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon-base-styles {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

$icons: (
  star: "\E001"
);

@each $name, $icon in $icons {
  .icon-#{$name}:before {
    @extend %icon-base-styles;
    content: $icon;
  }
}