img.is-float-right {
  margin: 0 0 1.5em 2.667em;
}

img.is-float-left {
  margin: 0 2.667em 1.5em 0;
}

img.is-center {
  display: block;
  margin: 0 auto 1.5em;
}

img.is-full {
  @extend img.is-center;
  width: 100%;
}

img.is-left {
  display: block;
  margin: 0 0 1.5em 0;
  text-align: left;
}

img.is-right {
  display: block;
  margin: 0 0 1.5em 0;
  text-align: right;
}




