#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.row {
  @include row;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

// setting grid column classes
@include break(medium) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      @include column($i);
      position: relative;
    }
  }
}

.container {
  padding: 1em .5em;
  overflow: hidden;
  position: relative;
  transition: 500ms ease padding;

  @include break(medium) {
    padding: 1em 2em;
  }

  @include break(large) {
    padding: 2em 3em;
  }

  .container {
    @include break(mobile-only) {
      padding: 0;
    }
  }

  img {
    max-width: 100%;
  }

  &.no-padding {
    padding: 0 !important;
  }
}


// some mobile only layout fixes
@include break(mobile-only) {
  .no-mobile {
    display: none !important;
  }
}

.mobile-only {
  @include break(small) {
    display: none !important;
  }
}

.small-only {
  @include break(medium) {
    display: none !important;
  }
}

.single-column {
  @include break(medium) {
    @include column(7);
    @include push(2.5);
    @include pull(2.5);
  }
}

// add state colors for each
@each $color in $colorsList {
  $i: index($colorsList, $color);
  .container.is-#{nth($colorsName, $i)} {
    background-color: $color;
    color: $white;
    &.nav-container {
      background-color: darken($color, 4%);
      a {
        color: $white;
      }
    }
  }
}

@include break(small) {
  .vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
