doctype
html

  head
    block head

      include ../partials/meta

      block css
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')

      //- script(src='../js/modernizr.js')

      //- IE shims
      //- block ie
      //-   include ../partials/ie

  body
    #viewport

      block body


        //- CONTENT GOES HERE


      block footer

    block scripts
      script(src='../js/vendor.js')
      script(src='../js/bundle.js')
