doctype
html

  head

    //- if you need to add anything you can hook with prepend/append to these blocks

    block head

      include ../partials/meta

      block css
        link(rel='stylesheet', href='../css/main.css')

      script(src='../js/modernizr.js')

      //- IE shims
      block ie
        include ../partials/ie

  body
    #viewport
      block body


        //- CONTENT GOES HERE


      block footer

    block scripts
      //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      //- script window.jQuery || document.write('<script src="/scripts/vendor/jquery-1.11.1.min.js"><\/script>')
      script(src='../js/vendor.js')
      script(src='../js/bundle.js')
