/*==========  COLORS  ==========*/

$black: #4a4a4a !default;
$ltGrey: hsl(0, 11%, 93%) !default;
$ltltGrey: hsl(0, 11%, 97%) !default;
$grey: hsl(263, 7%, 52%) !default;
$dkGrey: #6D696E !default;
$white: rgb(255, 255, 255) !default;

$colorsName: black;
$colorsList: $black;

$primary: $black;
$secondary: $ltGrey;
$tertiary: $grey;

$highlightColor: $secondary !default;
$secondaryTextColor: $primary !default;
$linkHoverColor: $primary !default;


/*==========  TYPOGRAPHY  ==========*/

$bodyColor: $dkGrey;
$fontDefault: Helvetica, Arial, sans-serif !default;
$fontPrimary: 'Whitney A', 'Whitney B' !default;
$fontHighlight: "Roboto Condensed", Helvetica, sans-serif !default;
$fontName: 'icons' !default;
$fontPath: '/';


/*==========  LOGO  ==========*/

/*==========  ANIMATION  ==========*/

$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;


/*==========  BREAKPOINTS  ==========*/

$break-mobile: 320px !default;
$break-small: 480px !default;
$break-medium: 768px !default;
$break-large: 1200px !default;

/*==========  MISC  ==========*/

$maxWidth: 1200px !default;
$round: 5px !default;
$navHeight: 60px;
